h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

/* ---ВИПРАВИТИ--- */
.container {
  max-width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin-left: auto;
  margin-right: auto;
}

/* ================== */

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #4d5ae5;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo .header-logo-navi {
  color: #2e2f42;
}

.header-logo:hover {
  color: #404bbf;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav:hover,
.nav:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.addr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr:hover,
.addr:focus {
  color: #404bbf;
}

.banner {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 48px;
}

.banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0px auto;
  color: #ffffff;
  max-width: 496px;
}

.banner-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  margin: 48px auto 0px auto;
}

.banner-btn:hover,
.banner-btn:focus {
  background-color: #404bbf;
}

.hero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-img {
  text-align: center;
  background-color: #ffffff;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .footer-logo-navi {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}