h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #4d5ae5;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f4f4fd;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-right: 76px;
}

.header-logo .header-logo-navi {
  color: #2e2f42;
}

.header-logo:hover {
  color: #404bbf;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.address {
  font-style: normal;
}

.addr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.addr:hover,
.addr:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.banner {
  background-color: #2e2f42;
  padding-top: 188px;
}

.banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0px auto;
  color: #ffffff;
  max-width: 496px;
}

.banner-btn {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 48px auto 68px auto;
  border-radius: 4px;
  border: none;
}

.banner-btn:hover,
.banner-btn:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-list {
  display: flex;
  gap: 24px;
}

.hero-item {
  width: calc((1440px - 72px) / 4);
}

.hero-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
}

.team-item-description {
  padding: 32px 16px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-item-description {
  border-bottom: 1px solid #f4f4fd;
  border-left: 1px solid #f4f4fd;
  border-right: 1px solid #f4f4fd;
  padding: 32px 16px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-block {
  width: 264px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-navi {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}